<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.srisha.koandja">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


            </intent-filter>
        </activity>
        <activity
            android:name=".AndActivity"
            android:label="Android Tutorials"
            android:theme="@style/AppThemeand" />
        <activity
            android:name=".KotActivity"
            android:label="Kotlin Tutorials"
            android:theme="@style/AppThemekot" />
        <activity
            android:name=".JavActivity"
            android:label="CoreJava Tutorials"
            android:theme="@style/AppThemejav" />
        <activity
            android:name=".SamActivity"
            android:label="Sample Codes"
            android:theme="@style/AppThemesc" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>